@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  background-image: url("../public/images/background.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1200px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.error {
  color: red;
  width: 345px;
  margin: auto;
  margin-top: 50px;
  font-size: 30px;
}
